<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      h1 {
        font-family: horta;
      }

      p,
      li,
      a {
        font-family: futura;
      }
    </style>
  </head>
  <body>
    <a href="/accounts/signin">Sign In</a>
    <h1>Home</h1>
    <p>Hello there, welcome to music</p>
    <a href="/recommendations">See my recommendations</a>
  </body>
</html>
