<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recommendations</title>
    <style>
      h1,
      h2 {
        font-family: horta;
      }

      p,
      li,
      a {
        font-family: futura;
      }
    </style>
  </head>
  <body>
    <h1>Recommendations</h1>
    <h2>Genre: {{genre}}</h2>
    <ul>
      {% for song in songs %}
      <li>{{song.title}} - {{song.artist}}</li>
      {% endfor %}
    </ul>

    <!-- others -->
    <h2>Other Songs</h2>
    <ul>
      {% for song in others %}
      <li>{{song.title}} - {{song.artist}}</li>
      {% endfor %}
    </ul>
    <a href="/recommendations/local">Local</a>
    <a href="/">Go Home</a>
  </body>
</html>
